.venv
.git
.gitignore
secret/
.vscode
__pycache__
*.pyc
.pytest_cache
.ruff_cache
README.md
k8s/
kind-config.yaml
tests/
.pre-commit-config.yaml
release-please-config.json
.release-please-manifest.json