ENVIRONMENT=development

APP_HOST=0.0.0.0
APP_PORT=8000
RELOAD=true

# optional, will be set based on the environment if not set
# LOG_LEVEL=DEBUG

POSTGRES_USER=weather_api
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=weather_api

JWT_SECRET_KEY=a-secret-key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30

# AUTH_PEPPER=a-pepper